/*#####################################################################################################


                                              Fold 1

#####################################################################################################*/
.web-dominate-desktop-img {
  width: vw(800px);
  height: auto;
  margin-top: vw(120px);
}

/*#####################################################################################################


                                              Fold 2
 
#####################################################################################################*/

.web-dominate-low-div {
  padding-top: vw(100px);
  padding-left: vw(147px);
  padding-right: vw(147px);
}

/*#####################################################################################################


                                              Fold 3

#####################################################################################################*/
.web-dominate-high-div {
  padding-top: vw(80px);
  padding-left: vw(100px);
  padding-bottom: vw(27px);
}

.web-dominate-high-img {
  width: vw(600px);
  height: auto;
  margin-right: vw(51px);
}

/*#####################################################################################################


                                              Fold 4

#####################################################################################################*/

.web-dominate-ui-cards {
  padding-top: vw(30px);
}

.web-dominate-low-img {
  width: vw(799px);
  height: auto;
  margin-right: vw(13px);
}
.web-dominate-low-div2 {
  padding-top: vw(10px);
}

.web-dominate-ui-img1 {
  width: vw(304px);
  height: auto;
  margin-left: vw(-220px);
}

.web-dominate-ui-img2 {
  margin-top: vw(10px);
  width: vw(272px);
  height: auto;
  margin-left: vw(-320px);
  //  padding-right: vw(10px);
}

.web-dominate-ui-img3 {
  width: vw(387px);
  height: auto;
  margin-left: vw(-450px);
}

.web-dominate-ui-img4 {
  width: vw(218px);
  height: auto;
  margin-left: vw(-250px);
  margin-top: vw(10px);
}

.web-dominate-ui-img5 {
  width: vw(218px);
  height: auto;
  margin-left: vw(-450px);
}

.web-target-ui-div2 {
  padding-top: vw(30px);
}

.web-dominate-ui-img6 {
  width: vw(1390px);
  height: auto;
  margin-left: vw(50px);
  margin-top: vw(60px);
}
/*###########################################################################################################


                                                fold 5

#####################################################################################################*/
.web-dominate-prototype {
  width: (980px);
  height: auto;
  margin-top: vw(100px);
  margin-left: vw(155px);
}

/*###########################################################################################################


                                                fold 6

#####################################################################################################*/
.web-metero-final-img {
  width: vw(1244px);
  height: auto;
  margin-top: vw(162px);
  margin-left: vw(30px);
}

.dominate-second-div {
  padding-left: vw(100px);
  padding-top: vw(75px);
}
