// typography NunitoSans

@font-face {
  font-family: NunitoSans-ExtraLight;
  src: url("../fonts/NunitoSans/NunitoSans-ExtraLight.ttf");
}

@font-face {
  font-family: NunitoSans-Light;
  src: url("../fonts/NunitoSans/NunitoSans-Light.ttf");
}

@font-face {
  font-family: NunitoSans-Italic;
  src: url("../fonts/NunitoSans/NunitoSans-Italic.ttf");
}

@font-face {
  font-family: NunitoSans-Regular;
  src: url("../fonts/NunitoSans/NunitoSans-Regular.ttf");
}

@font-face {
  font-family: NunitoSans-SemiBold;
  src: url("../fonts/NunitoSans/NunitoSans-SemiBold.ttf");
}

@font-face {
  font-family: NunitoSans-Bold;
  src: url("../fonts/NunitoSans/NunitoSans-Bold.ttf");
}

@font-face {
  font-family: NunitoSans-ExtraBold;
  src: url("../fonts/NunitoSans/NunitoSans-ExtraBold.ttf");
}

@font-face {
  font-family: NunitoSans-Black;
  src: url("../fonts/NunitoSans/NunitoSans-Black.ttf");
}

/*==============================================
            Montserrat
==============================================*/
@font-face {
  font-family: Montserrat-Thin;
  src: url("../fonts/Montserrat/Montserrat-Thin.ttf");
}

@font-face {
  font-family: Montserrat-Regular;
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Montserrat-Medium;
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: Montserrat-Bold;
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
  font-family: Montserrat-ExtraBold;
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.ttf");
}

/*==============================================
            Inter
==============================================*/
@font-face {
  font-family: Inter-Regular;
  src: url("../fonts/inter/static/Inter-Regular.ttf");
}
@font-face {
  font-family: Inter-SemiBold;
  src: url("../fonts/inter/static/Inter-SemiBold.ttf");
}
@font-face {
  font-family: Inter-Bold;
  src: url("../fonts/inter/static/Inter-Bold.ttf");
}
@font-face {
  font-family: Inter-ExtraBold;
  src: url("../fonts/inter/static/Inter-ExtraBold.ttf");
}

/*==============================================
            nunito
==============================================*/
@font-face {
  font-family: Nunito-ExtraBold;
  src: url("../fonts/Nunito/static/Nunito-ExtraBold.ttf");
}
/*==============================================
            Poppins
==============================================*/
@font-face {
  font-family: Poppins-Light;
  src: url("../fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
  font-family: Poppins-Regular;
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Medium;
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
}
/*==============================================
            Proxima
==============================================*/
@font-face {
  font-family: Proxima;
  src: url("../fonts/proxima-Nova-Font/Proxima\ Nova\ Font.otf");
}
/*==============================================
            Quicksand
==============================================*/
@font-face {
  font-family: Quicksand-Regular;
  src: url("../fonts/quicksand/static/Quicksand-Regular.ttf");
}
/*==============================================
           Helvetica
==============================================*/
@font-face {
  font-family: HelveticaNeue;
  src: url("../fonts/helvetica-Neue-Font/HelveticaNeue.ttf");
}
@font-face {
  font-family: Helvetica-Bold;
  src: url("../fonts/helvetica-Neue-Font/Helvetica\ Neu\ Bold.ttf");
}
/*==============================================
           microsoft-yahei
==============================================*/
@font-face {
  font-family: microsoft-yahei;
  src: url("../fonts/microsoft-yahei/chinese.msyh.ttf");
}
