/*######################################################################################################

                                                   Fold One

#####################################################################################################*/

/*#######################################################################################################


                                             fold 2


#######################################################################################################*/

.web-low-img {
  width: vw(560px);
  height: auto;
  margin-top: vw(100px);
  margin-right: vw(60px);
  margin-left: vw(10px);
}

.web-low-img3 {
  width: vw(793px);
  height: auto;
  margin-top: vw(100px);
  margin-bottom: vw(10px);
}

.low-metero-desktop-div {
  padding-left: vw(200px);
  padding-top: vw(60px);
}
/*#################################################################################################

          
                      fold 3

####################################################################################################*/
.web-metero-high-img {
  width: vw(573px);
  height: auto;
  margin-top: vw(50px);
  vertical-align: top;
}
/*#################################################################################################


                            fold4

##################################################################################################*/

.web-metero-ui-cards {
  @include fontSemiBold600;
  font-size: vw(32px);
  padding-left: vw(30px);
  line-height: vw(18px);
}

.web-metero-ui-img-div {
  padding-top: vw(100px);
  position: relative;
  //padding-right: vw(10px);
}

.web-metero-ui-img {
  width: vw(812px);
  height: auto;
  padding-top: vw(20px);
}

.web-metero-ui-img2 {
  width: vw(483px);
  height: auto;
  margin-top: vw(32px);
}

.web-metero-ui-img3 {
  width: vw(1029px);
  height: auto;
}

.web-metero-ui-div2 {
  position: absolute;
  margin-top: vw(-500px);
}

/*###############################################################################################


                                     Fold 5

###############################################################################################*/
.web-metero-prototype {
  margin-top: vw(100px);
  width: vw(1461px);
}

/*##############################################################################################


                                   Fold 6

#############################################################################################*/
.web-metero-final-img {
  width: mvw(250px);
}
