.augment-login-form-section {
  padding: vw(20px) vw(40px) vw(100px) 0;
  border-right: vw(2px) solid $theme-border-color-white-66;
  position: relative;
  z-index: 99;

  &::before {
    position: absolute;
    width: vw(511px);
    height: vw(611px);
    left: vw(-100px);
    top: vw(426px);
    content: "";
    background: url("../../../imgs/desktop/backgrounds-and-gradient/backgrounds/augment.svg");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
  }
}
.augment-icon {
  width: vw(65px);
  height: auto;
}
.augment-client-card {
  width: vw(235px);
  min-height: vw(64px);
  // background-color: pink;
  @include gradient-border-5;
  backdrop-filter: blur(50px);
  border-radius: vw(15px);
  padding: vw(9px) 0 vw(10px) vw(12px);
  cursor: pointer;
}
.augment-client-card--active {
  @include gradient-border-6;
}
.augment-client-card-img-section {
  background: rgba(196, 196, 196, 0.03);
  border-radius: vw(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: vw(18px);
  width: vw(45px);
  height: vw(45px);

  img {
    width: vw(24px);
    height: auto;
  }
}
.augment-input-div {
  width: vw(482px);
  height: vw(64px);
  @include gradient-border-4;
  border-radius: vw(15px);

  input {
    width: 100%;
    height: 100%;
    font-size: vw(16px);
    line-height: vw(21px);
    @include fontBold700;
    border: none;
    background: transparent;
    border-radius: inherit;
    padding: 0 vw(13px);

    &::placeholder {
      color: $theme-text-color-gray;
      @include fontSemiBold600;
    }
  }
}
.agument-btn--login {
  width: vw(295px);
}
