// @import "react-responsive-modal/styles.css";
/* ===============================================================
                    
                        modal
                    
================================================================== */

.customOverlay {
  background: $theme-bg-color-overlay;
  backdrop-filter: blur(5px);
  z-index: 0;
}

.customModal {
  -webkit-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
  max-width: 90%;
  height: fit-content;
  width: 56.35417vw;
  border-radius: mvwDivide(44px);
  //   @include theme-mixin-modal-bg;
  background: rgba(15, 15, 15, 1) !important;
  padding: mvwDivide(30px);
  z-index: 999999;
}

.customCloseButton {
  display: none;
}

.customOverlay {
  z-index: 9999 !important;
}

.closeIconInModal {
  cursor: pointer;

  &::before,
  &::after {
    content: " ";
    position: absolute;
    // top: mvwDivide(30px);
    // right: mvwDivide(30px);
    // background-color: #848484;
    top: mvwDivide(60px);
    right: mvwDivide(90px);
    background-color: $theme-text-color-popup-close;
    height: mvwDivide(25px);
    width: mvwDivide(4px);
    z-index: 111 !important;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.customModal--contactDetails {
  width: mvwDivide(1119px) !important;
  padding: mvwDivide(97px) mvwDivide(74px) mvwDivide(76px) mvwDivide(74px);
}
