// .technology-go-icon {
//   width: mvw(45px);
//   height: auto;
// }
// .technology-react-icon {
//   width: mvw(75px);
//   height: auto;
// }
// .technology-flutter-icon {
//   width: mvw(67px);
//   height: auto;
// }
// .technology-aws-icon {
//   width: mvw(32px);
//   height: auto;
// }
// .technology-ngular-icon {
//   width: mvw(67px);
//   height: auto;
// }
// .technology-graphql-icon {
//   width: mvw(69px);
//   height: auto;
// }
// .technology-nuxtjs-icon {
//   width: mvw(74px);
//   height: auto;
// }
// .technology-prometheus-icon {
//   width: mvw(92px);
//   height: auto;
// }
// .technology-ansible-icon {
//   width: mvw(72px);
//   height: auto;
// }
// .technology-terraform-icon {
//   width: mvw(93px);
//   height: auto;
// }
// .technology-docker-icon {
//   width: mvw(71px);
//   height: auto;
// }
// .technology-kubernetes-icon {
//   width: mvw(86px);
//   height: auto;
// }
// .technology-tensorflow-icon {
//   width: mvw(69px);
//   height: auto;
// }
// .technology-sageMaker-icon {
//   width: mvw(93px);
//   height: auto;
// }
// .technology-python-icon {
//   width: mvw(70px);
//   height: auto;
// }
// .technology-nextjs-icon {
//   width: mvw(67px);
//   height: auto;
// }
// .technology-pytorch-icon {
//   width: mvw(58px);
//   height: auto;
// }
// .technology-jenkins-icon {
//   width: mvw(78px);
//   height: auto;
// }
// .technology-mesos-icon {
//   width: mvw(60px);
//   height: auto;
// }
// .technology-splunk-icon {
//   width: mvw(70px);
//   height: auto;
// }
// .technology-salesforce-icon {
//   width: mvw(90px);
//   height: auto;
// }
// .technology-firebase-icon {
//   width: mvw(66px);
//   height: auto;
// }
// .technology-hasura-icon {
//   width: mvw(67px);
//   height: auto;
// }
// .technology-orcale-icon {
//   width: mvw(67px);
//   height: auto;
// }
// .technology-nodejs-icon {
//   width: mvw(68px);
//   height: auto;
// }
// .technology-react-native-icon {
//   width: mvw(94px);
//   height: auto;
// }
// .technology-azure-icon {
//   width: mvw(60px);
//   height: auto;
// }
// .technology-gcp-icon {
//   width: mvw(54px);
//   height: auto;
// }
// .technology-keras-icon {
//   width: mvw(63px);
//   height: auto;
// }
// .technology-apollo-icon {
//   width: mvw(66px);
//   height: auto;
// }
// .technology-rust-icon {
//   width: mvw(51px);
//   height: auto;
// }
// .technology-digital-ocean-icon {
//   width: mvw(103px);
//   height: auto;
// }
/*=================================================================================
                                   new logo
==================================================================================*/
.technology-solidity-icon {
  width: mvw1(70px);
  height: auto;
  margin-bottom: mvw1(25px);
  margin-right: mvw1(28px);
}
.technology-hyperLedger-fabric-icon {
  width: mvw1(138px);
  height: auto;
  margin-bottom: mvw1(25px);
  margin-right: mvw1(18px);
}
.technology-cosmos-sdk-icon {
  width: mvw1(100px);
  height: auto;
  margin-bottom: mvw1(25px);
}
.technology-ripple-icon {
  width: mvw1(63px);
  height: auto;
  margin-right: mvw1(27px);
  margin-bottom: mvw1(25px);
}
.technology-aws-icon {
  width: mvw1(33px);
  height: auto;
  margin-right: mvw1(27px);
  margin-bottom: mvw1(25px);
}
.technology-amazon-QLDB-icon {
  width: mvw1(115px);
  height: auto;
  margin-right: mvw1(18px);
  margin-bottom: mvw1(25px);
}
.technology-amazon-managed-blockchain-icon {
  width: mvw1(200px);
  height: auto;
  margin-right: vw(17px);
  margin-bottom: mvw1(25px);
}
.technology-sagemaker-icon {
  width: mvwDivide(120px);
  height: auto;
  margin-left: mvw(30px);
  // margin-right: vw(38px);
  display: none;
}
.technology-vyper-icon {
  width: mvw1(62px);
  height: auto;
  // margin-right: vw(42px);
  margin-bottom: mvw1(25px);
}
.technology-opendax-icon {
  width: mvwDivide(221px);
  height: auto;
  margin-bottom: mvw1(25px);
}
.technology-truffle-icon {
  width: mvwDivide(121px);
  height: auto;
  // margin-right: vw(81px);
  display: none;
}
.technology-ganache-icon {
  width: mvw1(120px);
  height: auto;
  // margin-right: vw(80px);
  display: none;
}
.technology-drizzle-icon {
  width: mvwDivide(119px);
  height: auto;
  // margin-right: vw(81px);
  display: none;
}
.technology-metamask-icon {
  width: mvwDivide(152px);
  height: auto;
  // margin-right: vw(81px);
  display: none;
}
.technology-infura-api-icon {
  width: mvwDivide(153px);
  height: auto;
  // margin-right: vw(78px);
  display: none;
}
.technology-terraform-icon {
  width: mvwDivide(141px);
  height: auto;
  // margin-right: vw(93px);
  display: none;
}
.technology-tensorflow-icon {
  width: mvwDivide(162px);
  height: auto;
  // margin-right: vw(45px);
  display: none;
}
.technology-prometheus-icon {
  width: mvwDivide(186px);
  height: auto;
  // margin-right: vw(55px);
  display: none;
}
.technology-gcp-icon {
  width: mvwDivide(98px);
  height: auto;
  // margin-right: vw(89px);
  display: none;
}
.technology-ethereum-icon {
  width: mvwDivide(130px);
  height: auto;
  // margin-right: vw(60px);
  display: none;
}
.technology-ansible-icon {
  width: mvwDivide(148px);
  height: auto;
  // margin-right: vw(84px);
  display: none;
}
.technology-chainlink-icon {
  width: mvwDivide(146px);
  height: auto;
  // margin-right: vw(85px);
  display: none;
}
.technology-splunk-icon {
  width: mvwDivide(143px);
  height: auto;
  // margin-right: vw(82px);
  display: none;
}
.technology-kubernetes-icon {
  width: mvwDivide(175px);
  height: auto;
  // margin-right: vw(42px);
  display: none;
}
.technology-docker-icon {
  width: mvwDivide(145px);
  height: auto;
  // margin-right: vw(99px);
  display: none;
}
.technology-spark-icon {
  width: mvwDivide(113px);
  height: auto;
  // margin-right: vw(75px);
  display: none;
}
.technology-apache-kafka-icon {
  width: mvwDivide(167px);
  height: auto;
  // margin-right: vw(58px);
  display: none;
}
.technology-apache-airflow-icon {
  width: mvwDivide(201px);
  height: auto;
  // margin-right: vw(52px);
  display: none;
}
.technology-geth-icon {
  width: mvwDivide(126px);
  height: auto;
  // margin-right: vw(76px);
  display: none;
}
.technology-go-icon {
  width: mvwDivide(92px);
  height: auto;
  // margin-right: vw(113px);
  display: none;
}
.technology-rust-icon {
  width: mvwDivide(89px);
  height: auto;
  // margin-right: vw(91px);
  display: none;
}
