// .bootcamp-main-section {
// padding: vw(99px) vw(100px);
// }
.bootcamp-tags {
  background-color: #222222;
  padding: mvw(5px) mvw(10px);
  margin-right: mvw(10px);
  margin-bottom: mvw(20px);
  border-radius: mvw(8px);
  position: relative;
  z-index: 99;

  &:hover {
    .bootcamp-tags-span-text {
      display: block;
      position: absolute;
      background: white;
      color: black;
      width: max-content;
      padding: mvw(10px) mvw(15px);
      text-align: center;
      left: vw(-30px);
      top: vw(-75px);
      border-radius: vw(4px);
      z-index: 99;
    }
    .bootcamp-tags-span-arrow {
      display: block;
      position: absolute;
      background: white;
      width: vw(26px);
      height: vw(26px);
      left: 40%;
      transform: rotate(44deg);
      bottom: vw(-5px);
      z-index: -1;
    }
  }
}

.bootcamp-course-play-icon-icon {
  width: mvw(15px);
  height: auto;
  margin-right: mvw(5px);
}
.bootcamp-clock-icon {
  width: mvw(12px);
  height: auto;
  margin-right: mvw(5px);
}
.bootcamp-tags-span-text {
  display: none;
}
.bootcamp-accordian {
  padding-top: mvw(25px);
  .accordion__button,
  .accordion__button:hover {
    // background: #333333;
    background: rgba(255, 255, 255, 0.08);
    color: rgba(255, 255, 255, 0.66);
    padding: mvw(10px) mvw(20px);
    border-radius: mvw(8px);
  }

  .accordion__button {
    position: relative;
    &::before {
      display: none;
    }

    &::after {
      position: absolute;
      display: inline-block;
      content: "";
      height: mvw(10px);
      width: mvw(10px);
      // margin-left: mvw(7px);
      border-bottom: mvw(2px) solid currentColor;
      border-right: mvw(2px) solid currentColor;
      transform: rotate(45deg);
      top: mvw(15px);
      right: mvw(30px);
      transition: all linear 0.3s;
    }

    &:focus {
      outline: none;
    }
  }
  .accordion__button[aria-expanded="true"]::after,
  .accordion__button[aria-selected="true"]::after {
    transform: rotate(229deg);
    top: mvw(20px);
    transition: all linear 0.3s;
  }
  .accordion__panel {
    padding: mvw(30px) 0;
  }
  .bootcamp-accordian-panel-card {
    padding: mvw(25px) 0;
    border-bottom: vw(0.3px) solid rgba(255, 255, 255, 0.33);
    position: relative;
  }
}
.bootcamp-accordian-panel-card--row2 {
  flex-direction: column;
  align-items: flex-start !important;
}
.bootcamp-map-icon {
  width: mvw(20px);
  height: auto;
  margin-right: vw(10px);
}
.yellow-star {
  color: #f7a614;
}
.gray-star {
  color: #555555;
}
/*==================================================================
                             bootcamp
  ==================================================================*/
.bootcamp-right-section {
  flex: 0 0 33%;
  //   margin-left: vw(80px);
  flex-direction: column;
}

.bootcamp-right-block-one {
  display: none;
}
.bootcamp-right-block-one-row-1 {
  padding: vw(35px) vw(40px);
  border-radius: vw(10px);
  border-bottom: vw(1px) solid rgba(255, 255, 255, 0.1);
}
.bootcamp-right-block-one--two {
  padding: vw(35px) vw(40px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}
.bootcamp-ul {
  padding-top: vw(20px);
  padding-bottom: vw(40px);
  border-bottom: vw(1px) solid rgba(255, 255, 255, 0.1);
  margin-bottom: 0;
}
.bootcamp-accordian-panel-card-outer-section {
  padding-left: vw(30px);
  padding-top: mvw(40px);

  .bootcamp-accordian-panel-card {
    &:last-child {
      border: none;
    }
  }
}
.bootcamp-tags-text {
  margin-right: mvw(10px);
  background: rgba(196, 196, 196, 0.09);
  padding: mvw(8px) mvw(12px);
  border-radius: mvw(50px);
}
.bootcamp-right-block-three {
  margin-top: mvw(20px);
  padding: mvw(30px);
  border-radius: vw(10px);
  // min-height: vw(250px);
  // overflow: hidden;
  background-image: url("../../../imgs/desktop/bootcamp/paths-skill-iq-bkgd.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  position: relative;
  z-index: 99;
  background-color: #1f1f1f;
  overflow: hidden;

  &::after {
    position: absolute;
    width: mvw(3px);
    height: 100%;
    content: "";
    top: 0;
    left: 0;
    border-radius: mvw(10px) 0 0 mvw(10px);
    z-index: 1;
    background: linear-gradient(225deg, #00ff88 0%, #ef04ff 100%);
  }

  .font-24-inter-600 {
    font-size: mvw(20px);
  }
  .font-36-proxima-700 {
    font-size: mvw(30px);
    line-height: mvw(32px);
    @include fontProximaBold;
  }
  .font-20-proxima-600 {
    font-size: mvw(18px);
    line-height: mvw(20px);
    @include fontProximaSemiBold;
  }
}
.our-product-card-btn--bootcamp,
.home-new-btn--bootcamp {
  width: max-content;
  height: min-content;
  line-height: mvw(10px);
  padding: mvw(10px) mvw(20px);
}
.our-product-card-btn--bootcamp {
  margin-top: mvw(20px);
  line-height: inherit;
  border: none;
  font-size: mvw(8px);
  @include fontSemiBold600;
}
.green-purple-gradient-text--bootcamp {
  letter-spacing: vw(3px);
}
.bootcamp-fold-one-section {
  padding: mvw(50px) mvw(20px);
}

/*=======================================================================================================
                                            fold two
  =======================================================================================================*/
.bootcamp-fold-two-section {
  background: rgba(196, 196, 196, 0.05);

  .font-30-proxima-700 {
  }
}
.bootcamp-fold-two-section-card {
  margin-top: mvw(30px);
  padding-right: vw(50px);
  word-break: normal;
}
.bootcamp-fold-two-section-card__img {
  width: mvw(30px);
  height: mvw(30px);
  border-radius: mvw(100px);
  margin-right: mvw(20px);
}
.home-new-btn--fold-three {
  padding-left: mvw(45px);
  padding-right: mvw(45px);
  // margin-left: vw(300px);
  margin-top: mvw(20px) !important;

  .font-24-NunitoSans-600 {
    font-size: mvw(15px);
    text-transform: uppercase;
  }
}
.bootcamp-fold-three-section {
  flex-direction: column;

  br {
    display: none;
  }
}
