.web-footer {
  margin: 0 vw(138px) 0 vw(154px);
  padding-top: vw(84px);
  padding-bottom: vw(64px);
  border-top: vw(2px) solid $theme-border-color-white-66;
  ul {
    li {
      list-style: none;
      // cursor: pointer;
    }
  }

  .footer-myrl-tech-logo {
    width: vw(206px);
    height: auto;

    &:hover {
      cursor: pointer;
    }
  }
  .web-footer-helpful-link-our-product-section {
    padding-right: vw(114px);
  }
  .web-footer-check-us-section {
    // text-align: center;
    padding-left: vw(20px);
    border-left: vw(2px) solid $theme-border-color-white-66;
  }
  .footer-m-icon {
    width: vw(61px);
    height: auto;
    margin-right: vw(82px);
  }
  .footer-white-hand-icon {
    width: vw(36px);
    height: auto;
    margin-right: vw(81px);
  }
  .footer-linkedin-icon {
    width: vw(52px);
    height: auto;
  }
  // .web-footer-check-us-text {
  //   position: relative;
  //   z-index: 99;
  //   width: fit-content;
  //   margin: auto;

  //   &::after {
  //     position: absolute;
  //     width: vw(133px);
  //     height: vw(21px);
  //     background-image: url("../../../imgs/desktop/backgrounds-and-gradient/gradients/check-us-on-footer.svg");
  //     background-size: cover;
  //     background-repeat: no-repeat;
  //     content: "";
  //     z-index: -1;
  //     right: vw(6px);
  //     bottom: vw(6px);
  //   }
  // }
}
