// NunitoSans 300
.font-18-nunito-light {
  font-size: vw(18px);
  line-height: vw(24px);
  @include fontLight300;
  margin-bottom: 0;
}
.font-24-NunitoSans-300 {
  font-size: vw(24px);
  line-height: vw(37px);
  @include fontLight300;
  margin-bottom: 0;
}
.font-30-NunitoSans-300 {
  font-size: vw(30px);
  line-height: vw(42px);
  @include fontLight300;
  margin-bottom: 0;
}
.font-36-NunitoSans-300 {
  font-size: vw(36px);
  line-height: vw(49px);
  @include fontLight300;
  margin-bottom: 0;
}
//NunitoSans 400
.font-24-NunitoSans-400 {
  font-size: vw(24px);
  line-height: vw(39px);
  @include fontRegular400;
  margin-bottom: 0;
}
.font-30-NunitoSans-400 {
  font-size: vw(30px);
  line-height: vw(43px);
  @include fontRegular400;
  margin-bottom: 0;
}
.font-36-NunitoSans-400 {
  font-size: vw(36px);
  line-height: vw(49px);
  @include fontRegular400;
  margin-bottom: 0;
}
.font-57-NunitoSans-400 {
  font-size: vw(57px);
  line-height: vw(78px);
  @include fontRegular400;
  margin-bottom: 0;
}

// NunitoSans 600
.font-14-NunitoSans-600 {
  font-size: vw(14px);
  line-height: vw(19px);
  @include fontSemiBold600;
  margin-bottom: 0;
}
.font-16-NunitoSans-600 {
  font-size: vw(16px);
  line-height: vw(22px);
  @include fontSemiBold600;
  margin-bottom: 0;
}
.font-18-NunitoSans-600 {
  font-size: vw(18px);
  line-height: vw(25px);
  @include fontSemiBold600;
  margin-bottom: 0;
}
.font-20-NunitoSans-600 {
  font-size: vw(20px);
  line-height: vw(28px);
  @include fontSemiBold600;
  margin-bottom: 0;
}

.product-card-font-24-NunitoSans-600,
.font-24-NunitoSans-600 {
  font-size: vw(24px);
  line-height: vw(33px);
  @include fontSemiBold600;
  margin-bottom: 0;
}
.font-32-NunitoSans-600 {
  font-size: vw(32px);
  line-height: vw(43px);
  @include fontSemiBold600;
  margin-bottom: 0;
}
.font-36-NunitoSans-600 {
  font-size: vw(36px);
  line-height: vw(49px);
  @include fontSemiBold600;
  margin-bottom: 0;
}
.font-48-NunitoSans-600 {
  font-size: vw(48px);
  line-height: vw(65px);
  @include fontSemiBold600;
  margin-bottom: 0;
}

.font-64-NunitoSans-600 {
  font-size: vw(64px);
  line-height: vw(87px);
  @include fontSemiBold600;
  margin-bottom: 0;
}
.font-72-NunitoSans-600 {
  font-size: vw(72px);
  line-height: vw(98px);
  @include fontSemiBold600;
  margin-bottom: 0;
}
// NunitoSans 700
.font-20-NunitoSans-700 {
  font-size: vw(20px);
  line-height: vw(28px);
  @include fontBold700;
  margin-bottom: 0;
}
.font-24-NunitoSans-700 {
  font-size: vw(24px);
  line-height: vw(33px);
  @include fontBold700;
  margin-bottom: 0;
}
.font-30-NunitoSans-700 {
  font-size: vw(30px);
  line-height: vw(43px);
  @include fontBold700;
  margin-bottom: 0;
}

.font-36-NunitoSans-700 {
  font-size: vw(36px);
  line-height: vw(49px);
  @include fontBold700;
  margin-bottom: 0;
}
.font-48-NunitoSans-700 {
  font-size: vw(48px);
  line-height: vw(65px);
  @include fontBold700;
  margin-bottom: 0;
}
.font-68-NunitoSans-700 {
  font-size: vw(68px);
  line-height: vw(92px);
  @include fontBold700;
  margin-bottom: 0;
}
.font-144-NunitoSans-700-italic {
  font-size: vw(144px);
  line-height: vw(196px);
  @include fontBold700;
  margin-bottom: 0;
  font-style: italic;
}
// NunitoSans 800
.font-14-NunitoSans-800 {
  font-size: vw(14px);
  line-height: vw(19px);
  @include fontExtraBold800;
  margin-bottom: 0;
}
.font-24-NunitoSans-800 {
  font-size: vw(24px);
  line-height: vw(33px);
  @include fontExtraBold800;
  margin-bottom: 0;
}

.font-32-NunitoSans-800 {
  font-size: vw(32px);
  line-height: vw(43px);
  @include fontExtraBold800;
  margin-bottom: 0;
}
.font-30-NunitoSans-800 {
  font-size: vw(30px);
  line-height: vw(43px);
  @include fontExtraBold800;
  margin-bottom: 0;
}
.font-36-NunitoSans-800 {
  font-size: vw(36px);
  line-height: vw(49px);
  @include fontExtraBold800;
  margin-bottom: 0;
}
.font-48-NunitoSans-800 {
  font-size: vw(48px);
  line-height: vw(65px);
  @include fontExtraBold800;
  margin-bottom: 0;
}

// NunitoSans 900
.font-72-NunitoSans-900 {
  font-size: vw(72px);
  line-height: vw(98px);
  @include fontBlack900;
  margin-bottom: 0;
}

//Montserrat
.font-40-montserrat-300 {
  font-size: vw(40px);
  line-height: vw(48px);
  margin-bottom: 0;
  @include fontMontserratThin;
}
.font-20-montserrat-400 {
  font-size: vw(20px);
  line-height: vw(24px);
  margin-bottom: 0;
  @include fontMontserratRegular;
}
.font-24-montserrat-400 {
  font-size: vw(24px);
  line-height: vw(24px);
  margin-bottom: 0;
  @include fontMontserratRegular;
}
.font-40-montserrat-400 {
  font-size: vw(40px);
  line-height: vw(48px);
  margin-bottom: 0;
  @include fontMontserratRegular;
}
.font-20-montserrat-500 {
  font-size: vw(20px);
  line-height: vw(24px);
  margin-bottom: 0;
  @include fontMontserratMedium;
}
.font-24-montserrat-500 {
  font-size: vw(24px);
  line-height: vw(24px);
  margin-bottom: 0;
  @include fontMontserratMedium;
}
.font-20-montserrat-600 {
  font-size: vw(20px);
  line-height: vw(34px);
  margin-bottom: 0;
  @include fontMontserratSemibold;
}

.font-28-montserrat-600 {
  font-size: vw(28px);
  line-height: vw(37px);
  margin-bottom: 0;
  @include fontMontserratSemibold;
}

.font-24-montserrat-700 {
  font-size: vw(24px);
  line-height: vw(24px);
  margin-bottom: 0;
  @include fontMontserratBold;
}
.font-32-montserrat-600 {
  font-size: vw(32px);
  line-height: vw(38px);
  margin-bottom: 0;
  @include fontMontserratSemibold;
}
.font-36-montserrat-600 {
  font-size: vw(36px);
  line-height: vw(47px);
  margin-bottom: 0;
  @include fontMontserratSemibold;
}

.font-48-montserrat-600 {
  font-size: vw(48px);
  line-height: vw(77px);
  margin-bottom: 0;
  @include fontMontserratSemibold;
}

.font-32-montserrat-600 {
  font-size: vw(32px);
  line-height: vw(42px);
  margin-bottom: 0;
  @include fontMontserratBold;
}

.font-48-montserrat-700 {
  font-size: vw(48px);
  line-height: vw(63px);
  margin-bottom: 0;
  @include fontMontserratBold;
}

.font-64-montserrat-700 {
  font-size: vw(64px);
  line-height: vw(74px);
  margin-bottom: 0;
  @include fontMontserratBold;
}

.font-96-montserrat-700 {
  font-size: vw(96px);
  line-height: vw(115px);
  margin-bottom: 0;
  @include fontMontserratBold;
}

.font-120-montserrat-700 {
  font-size: vw(120px);
  line-height: vw(120px);
  margin-bottom: 0;
  @include fontMontserratBold;
}
.font-128-montserrat-700 {
  font-size: vw(128px);
  line-height: vw(128px);
  margin-bottom: 0;
  @include fontMontserratBold;
}

.font-44-montserrat-800 {
  font-size: vw(44px);
  line-height: vw(58px);
  margin-bottom: 0;
  @include fontMontserratExtraBold;
}

.font-76-montserrat-800 {
  font-size: vw(76px);
  line-height: vw(81px);
  margin-bottom: 0;
  @include fontMontserratExtraBold;
}

.font-96-montserrat-800 {
  font-size: vw(96px);
  line-height: vw(103px);
  margin-bottom: 0;
  @include fontMontserratExtraBold;
}
.font-116-montserrat-800 {
  font-size: vw(116px);
  line-height: vw(93px);
  margin-bottom: 0;
  @include fontMontserratExtraBold;
}

//inter
.font-18-inter-400 {
  font-size: vw(18px);
  line-height: vw(22px);
  margin-bottom: 0;
  @include fontInterRegular;
}
.font-48-inter-400 {
  font-size: vw(48px);
  line-height: vw(77px);
  margin-bottom: 0;
  @include fontInterRegular;
}
.font-13-inter-600 {
  font-size: vw(13px);
  line-height: vw(16px);
  margin-bottom: 0;
  @include fontInterSemiBold;
}
.font-14-inter-600 {
  font-size: vw(14px);
  line-height: vw(17px);
  margin-bottom: 0;
  @include fontInterSemiBold;
}
.font-18-inter-600 {
  font-size: vw(18px);
  line-height: vw(22px);
  margin-bottom: 0;
  @include fontInterSemiBold;
}
.font-24-inter-600 {
  font-size: vw(24px);
  line-height: vw(29px);
  margin-bottom: 0;
  @include fontInterSemiBold;
}
.font-30-inter-700 {
  font-size: vw(30px);
  line-height: vw(40px);
  margin-bottom: 0;
  @include fontInterBold;
}
.font-36-inter-700 {
  font-size: vw(36px);
  line-height: vw(44px);
  margin-bottom: 0;
  @include fontInterBold;
}
.font-64-inter-800 {
  font-size: vw(64px);
  line-height: vw(77px);
  margin-bottom: 0;
  @include fontInterExtraBold;
}

//nunito
.font-48-nunito-800 {
  font-size: vw(48px);
  line-height: vw(77px);
  margin-bottom: 0;
  @include fontNunitoExtraBold;
}
//poppins

.font-20-poppins-300 {
  font-size: vw(20px);
  line-height: vw(30px);
  margin-bottom: 0;
  @include fontPoppinsLight;
}
.font-12-poppins-400 {
  font-size: vw(12px);
  line-height: vw(20px);
  margin-bottom: 0;
  @include fontPoppinsRegular;
}
.font-18-poppins-400 {
  font-size: vw(18px);
  line-height: vw(18px);
  margin-bottom: 0;
  @include fontPoppinsRegular;
}
.font-36-poppins-400 {
  font-size: vw(36px);
  line-height: vw(36px);
  margin-bottom: 0;
  @include fontPoppinsRegular;
}
.font-12-poppins-500 {
  font-size: vw(12px);
  line-height: vw(20px);
  margin-bottom: 0;
  @include fontPoppinsMedium;
}
.font-17-poppins-500 {
  font-size: vw(17px);
  line-height: vw(25px);
  margin-bottom: 0;
  @include fontPoppinsMedium;
}
.font-32-poppins-500 {
  font-size: vw(32px);
  line-height: vw(48px);
  margin-bottom: 0;
  @include fontPoppinsMedium;
}
.font-18-poppins-700 {
  font-size: vw(18px);
  line-height: vw(31px);
  margin-bottom: 0;
  @include fontPoppinsBold;
}
.font-24-poppins-700 {
  font-size: vw(24px);
  line-height: vw(37px);
  margin-bottom: 0;
  @include fontPoppinsBold;
}
.font-72-poppins-700 {
  font-size: vw(72px);
  line-height: vw(72px);
  margin-bottom: 0;
  @include fontPoppinsBold;
}
/*============================
       Proxima
===========================*/
.font-12-proxima-400 {
  font-size: vw(12px);
  line-height: vw(16px);
  margin-bottom: 0;
  @include fontProximaRegular;
}
.font-42-proxima-400 {
  font-size: vw(42px);
  line-height: vw(52px);
  margin-bottom: 0;
  @include fontProximaRegular;
}
.font-48-proxima-400 {
  font-size: vw(48px);
  line-height: vw(58px);
  margin-bottom: 0;
  @include fontProximaRegular;
}
.font-20-proxima-600 {
  font-size: vw(20px);
  line-height: vw(34px);
  margin-bottom: 0;
  @include fontProximaSemiBold;
}
.font-24-proxima-600 {
  font-size: vw(24px);
  line-height: vw(38px);
  margin-bottom: 0;
  @include fontProximaSemiBold;
}
.font-14-proxima-700 {
  font-size: vw(14px);
  line-height: vw(18px);
  margin-bottom: 0;
  @include fontProximaBold;
}
.font-16-proxima-700 {
  font-size: vw(16px);
  line-height: vw(21px);
  margin-bottom: 0;
  @include fontProximaBold;
}
.font-18-proxima-700 {
  font-size: vw(18px);
  line-height: vw(24px);
  margin-bottom: 0;
  @include fontProximaBold;
}
.font-24-proxima-700 {
  font-size: vw(24px);
  line-height: vw(32px);
  margin-bottom: 0;
  @include fontProximaBold;
}
.font-25-proxima-700 {
  font-size: vw(25px);
  line-height: vw(32px);
  margin-bottom: 0;
  @include fontProximaBold;
}
.font-30-proxima-700 {
  font-size: vw(30px);
  line-height: vw(42px);
  margin-bottom: 0;
  @include fontProximaBold;
}
.product-card-font-36-proxima-700,
.font-36-proxima-700 {
  font-size: vw(36px);
  line-height: vw(48px);
  margin-bottom: 0;
  @include fontProximaBold;
}
.font-34-proxima-700 {
  font-size: vw(34px);
  line-height: vw(54px);
  margin-bottom: 0;
  @include fontProximaBold;
}
.font-44-proxima-700 {
  font-size: vw(44px);
  line-height: vw(50px);
  margin-bottom: 0;
  @include fontProximaBold;
}
.font-48-proxima-700 {
  font-size: vw(48px);
  line-height: vw(58px);
  margin-bottom: 0;
  @include fontProximaBold;
}
.font-64-proxima-700 {
  font-size: vw(64px);
  line-height: vw(106px);
  margin-bottom: 0;
  @include fontProximaBold;
}

.font-72-proxima-700 {
  font-size: vw(72px);
  line-height: vw(88px);
  margin-bottom: 0;
  @include fontProximaBold;
}
.font-60-proxima-800 {
  font-size: vw(60px);
  line-height: vw(77px);
  margin-bottom: 0;
  @include fontProximaExtraBold;
}
.font-65-proxima-800 {
  font-size: vw(65px);
  line-height: vw(82px);
  margin-bottom: 0;
  @include fontProximaExtraBold;
}
.font-72-proxima-800 {
  font-size: vw(72px);
  line-height: vw(88px);
  margin-bottom: 0;
  @include fontProximaExtraBold;
}
.font-48-proxima-800 {
  font-size: vw(48px);
  line-height: vw(58px);
  margin-bottom: 0;
  @include fontProximaExtraBold;
}
.font-76-proxima-800 {
  font-size: vw(76px);
  line-height: vw(95px);
  margin-bottom: 0;
  @include fontProximaExtraBold;
}
.font-80-proxima-800 {
  font-size: vw(80px);
  line-height: vw(100px);
  margin-bottom: 0;
  @include fontProximaExtraBold;
}

.font-86-proxima-800 {
  font-size: vw(86px);
  line-height: vw(105px);
  margin-bottom: 0;
  @include fontProximaExtraBold;
}

.font-96-proxima-800 {
  font-size: vw(96px);
  line-height: vw(116px);
  margin-bottom: 0;
  @include fontProximaExtraBold;
}
/*============================
       Quicksand
===========================*/
.font-48-quicksand-400 {
  font-size: vw(48px);
  line-height: vw(60px);
  margin-bottom: 0;
  @include fontQuicksandRegular;
}
/*============================
       helvetica
===========================*/
.font-14-helvetica-400 {
  font-size: vw(14px);
  line-height: vw(17px);
  margin-bottom: 0;
  @include fontHelveticaRegular;
}
.font-16-helvetica-400 {
  font-size: vw(16px);
  line-height: vw(17px);
  margin-bottom: 0;
  @include fontHelveticaRegular;
}
.font-18-helvetica-700 {
  font-size: vw(18px);
  line-height: vw(21px);
  margin-bottom: 0;
  @include fontHelveticaBold;
}
.font-28-helvetica-700 {
  font-size: vw(28px);
  line-height: vw(37px);
  margin-bottom: 0;
  @include fontHelveticaBold;
}
