.technology-react-icon {
  width: vw(153px);
  height: auto;
  margin-right: vw(84px);
}
.technology-flutter-icon {
  width: vw(137px);
  height: auto;
  margin-right: vw(64px);
}

.technology-ngular-icon {
  width: vw(136px);
  height: auto;
  margin-right: vw(74px);
}
.technology-graphql-icon {
  width: vw(140px);
  height: auto;
  margin-right: vw(97px);
}
.technology-nuxtjs-icon {
  width: vw(122px);
  height: auto;
  margin-right: vw(37px);
}

.technology-python-icon {
  width: vw(122px);
  height: auto;
  margin-right: vw(65px);
}
.technology-nextjs-icon {
  width: vw(118px);
  height: auto;
  margin-right: vw(91px);
}
.technology-pytorch-icon {
  width: vw(118px);
  height: auto;
  margin-right: vw(93px);
}
.technology-jenkins-icon {
  width: vw(159px);
  height: auto;
  margin-right: vw(93px);
}
.technology-mesos-icon {
  width: vw(122px);
  height: auto;
  margin-right: vw(70px);
}

.technology-salesforce-icon {
  width: vw(157px);
  height: auto;
  margin-right: vw(50px);
}
.technology-firebase-icon {
  width: vw(114px);
  height: auto;
  margin-right: vw(87px);
}
.technology-hasura-icon {
  width: vw(116px);
  height: auto;
  // margin-right: vw(70px);
}
.technology-orcale-icon {
  width: vw(119px);
  height: auto;
  margin-right: vw(69px);
}
.technology-nodejs-icon {
  width: vw(124px);
  height: auto;
  margin-right: vw(90px);
}
.technology-react-native-icon {
  width: vw(164px);
  height: auto;
  margin-right: vw(77px);
}
.technology-azure-icon {
  width: vw(110px);
  height: auto;
  margin-right: vw(104px);
}
.technology-keras-icon {
  width: vw(112px);
  height: auto;
  margin-right: vw(92px);
}
.technology-apollo-icon {
  width: vw(117px);
  height: auto;
  margin-right: vw(91px);
}
.technology-digital-ocean-icon {
  width: vw(179px);
  height: auto;
}
/*=================================================================================
                                   new logo
==================================================================================*/
.technology-solidity-icon {
  width: vw(200px);
  height: auto;
  margin-right: vw(79px);
}
.technology-hyperLedger-fabric-icon {
  width: vw(252px);
  height: auto;
  margin-right: vw(51px);
}
.technology-cosmos-sdk-icon {
  width: vw(181px);
  height: auto;
  margin-right: vw(70px);
}
.technology-ripple-icon {
  width: vw(120px);
  height: auto;
}
.technology-aws-icon {
  width: vw(170px);
  height: auto;
  margin-right: vw(120px);
}
.technology-amazon-QLDB-icon {
  width: vw(160px);
  height: auto;
  margin-right: vw(63px);
}
.technology-amazon-managed-blockchain-icon {
  width: vw(160px);
  height: auto;
  margin-right: vw(38px);
}
.technology-sagemaker-icon {
  width: vw(169px);
  height: auto;
  margin-right: vw(38px);
}
.technology-vyper-icon {
  width: vw(200px);
  height: auto;
  margin-right: vw(42px);
}
.technology-opendax-icon {
  width: vw(200px);
  height: auto;
}
.technology-truffle-icon {
  width: vw(121px);
  height: auto;
  margin-right: vw(81px);
}
.technology-ganache-icon {
  width: vw(180px);
  height: auto;
  margin-right: vw(80px);
}
.technology-drizzle-icon {
  width: vw(119px);
  height: auto;
  margin-right: vw(81px);
}
.technology-metamask-icon {
  width: vw(120px);
  height: auto;
  margin-right: vw(81px);
}
.technology-infura-api-icon {
  width: vw(120px);
  height: auto;
  margin-right: vw(78px);
}
.technology-terraform-icon {
  width: vw(141px);
  height: auto;
  margin-right: vw(93px);
}
.technology-tensorflow-icon {
  width: vw(162px);
  height: auto;
  // margin-right: vw(45px);
}
.technology-prometheus-icon {
  width: vw(120px);
  height: auto;
  margin-right: vw(55px);
}
.technology-gcp-icon {
  width: vw(98px);
  height: auto;
  margin-right: vw(89px);
}
.technology-ethereum-icon {
  width: vw(130px);
  height: auto;
  margin-right: vw(60px);
}
.technology-ansible-icon {
  width: vw(148px);
  height: auto;
  margin-right: vw(84px);
}
.technology-chainlink-icon {
  width: vw(146px);
  height: auto;
  margin-right: vw(85px);
}
.technology-splunk-icon {
  width: vw(143px);
  height: auto;
  margin-right: vw(82px);
}
.technology-kubernetes-icon {
  width: vw(175px);
  height: auto;
  // margin-right: vw(42px);
}
.technology-docker-icon {
  width: vw(230px);
  height: auto;
  margin-right: vw(40px);
}
.technology-spark-icon {
  width: vw(150px);
  height: auto;
  margin-right: vw(75px);
}
.technology-apache-kafka-icon {
  width: vw(150px);
  height: auto;
  margin-right: vw(58px);
}
.technology-apache-airflow-icon {
  width: vw(201px);
  height: auto;
  margin-right: vw(52px);
}
.technology-geth-icon {
  width: vw(126px);
  height: auto;
  margin-right: vw(76px);
}
.technology-go-icon {
  width: vw(92px);
  height: auto;
  margin-right: vw(113px);
}
.technology-rust-icon {
  width: vw(89px);
  height: auto;
  // margin-right: vw(91px);
}
